#main-page{
    background-image: url(Background.jpg);
    background-size: cover;
    height: 100vh;
}
#row1{
    background-color: rgba(255, 249, 247, 0.1);
    font-size: 5rem;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
}
#display-area{
    background-color: rgba(7, 7, 71,0.9);
    height:4rem;
    text-wrap: wrap;
    overflow:auto;
}
#icons{
    background-color: rgba(52, 52, 224,0.9);
}
.ops{
    background-color: rgba(255, 255, 255,0.9);
    color: grey;
    height:20%;
}
#eql{
    background-color:rgba(7, 7, 71,0.9);
    border-radius: 0 0 0.5rem 0;
}
@media (max-width:466px){
    .emoji{
        display: none;
    }
    .col6 h2{
        font-size: 1rem;
    }
}
.icon{
    border-radius: 50%;
    border-color: rgba(255, 255, 255,0.5);
    width:3rem;
    height:3rem;
    background-color: rgba(43, 43, 234, 0.9);
    padding-top: 0.4rem;
    font-size: 1.5rem;
}
.ops{
    text-align: center;
}
.col-5{
    border-radius: 0rem 0rem 0rem 0.5rem;
}
@media (max-width:768px)
{
    .icon{
        width:2.5rem;
        height:2.5rem;
        font-size: 1rem;
        padding-top: 0.2rem;
    }
    #row1 h2{
        font-size: 1.5rem;
    }
}
@media (max-width:480px)
{
    .icon{
        width:2rem;
        height:2rem;
        padding-top: 0.1rem;
        font-size: 0.75rem;
    }
}
